* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: color .3s ease-in-out;
}

img {
    max-width: 100%;
   
}

html {
    font-family: Helvetica, sans-serif
}

body {
    margin: 0;
    background: lightslategray;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    position: relative;
}

.navigation {
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav-left {
    display: flex;
    padding: 2rem 0;
    align-items: center;
}

.nav-left li {
    margin-right: 4rem;
}

.nav-link {
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.nav-link svg {
    margin-left: -.2rem;
    margin-right: .5rem;
}

label {
    cursor: pointer;
}

.container-menu {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    align-content: start;
 
}

.mobile-menu {
    /* display: none; */
    position: absolute;
    height: 0;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    background: white;
    z-index: 9999;
    transition: height ease 1s;
}

.menu-wrapper {
    height: 100vh;
}

.mobile-menu .menu-wrapper {
    margin-top: -.3rem;
    grid-column: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity ease-in-out 1s;
}

p.dropdown {
    color: black;
}

input[type=checkbox] {
    display: none;
}

 /* Toggled State */
input[type=checkbox]:checked ~ .mobile-menu {
    height: 200vh;

} 

input[type=checkbox]:checked ~ .mobile-menu .menu-wrapper {
    opacity: 1;
    pointer-events: all;

} 




.content {
    grid-column: 2;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}


.logo-img {
    min-width: 100%;
    position: relative;
    z-index: 10;
    margin: 0 0 -7.5% 0;
}


.maincontent {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "hero hero side1"
    "hero hero side2"
    "bottom1 bottom2 side2";

}


.block {
    height: 100%;
    display: grid;
    align-items: end; 
}

.layer {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}


.block-description {
    position: relative;
   
    z-index: 5;
}

.block-img {
    position: relative;
    min-height: 100%;
    transition: 0.4s ease;
}

.maincontent img {
    object-fit: cover;
    /* margin: -.2rem; */
    padding: 0;
}

.block-hero {
    /* background: url(https://api.paradiso.nl/img/events/Maren-Morris-web.jpg?w=1368&h=1340&fit=crop-56-28); */
    grid-area: hero;
    
   
}

.block-side1 {
    /* background: url(https://api.paradiso.nl/img/events/fatal.jpg?w=848&h=808&fit=crop-42-58); */
    grid-area: side1;
}


.block-side2 {
    /* background: url(https://api.paradiso.nl/img/events/Betty-Wright.jpg?w=848&h=1456&fit=crop-63-38); */
    grid-area: side2;
}

.block-bottom1 {
    /* background: url(https://api.paradiso.nl/img/events/milk.jpg?w=848&h=808&fit=crop-50-4); */
    grid-area: bottom1;
}

.block-bottom2 {
    /* background: url(https://api.paradiso.nl/img/events/Schermafbeelding-2019-01-17-om-08.41.31.png?w=848&h=808&fit=crop-42-22); */
    grid-area: bottom2;
}




/* TITELS IN ELKE GRID IMG */

.block-link {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    overflow: hidden;
    
}

.block-link:hover .block-img {
    transform: scale(1.05);
}

.block-description {
    pointer-events: none;
    grid-column: 1;
    grid-row: 1;
    color: white;
    margin: 0 0 1rem 1rem;
  
}

.subtitle {
    font-weight: 100;
    font-size: 2rem;
    margin: 0;

}

.subtitle-hero {
    font-weight: 100;
    font-size: 3rem;

}

.block-title {
    font-weight: 800;
    font-size: 2rem;
    margin: 0;
}

.block-title-hero {
    font-weight: 800;
    font-size: 3rem;
}

.block-date {
    display: none;
    font-size: 2rem;
    padding: 0;
    margin: .1rem 0 1rem 0;
}

.block:hover .block-description > .block-date {
    display: block;
}


@media screen and (max-width: 875px) {
    .container { 
        display: grid;
        grid-template-columns: 1fr 18fr 1fr;
        
    }

    .container-menu {
        display: grid;
        grid-template-columns: 1fr 18fr 1fr;
        
    }

    .nav-right {
        display: none;
    }

    .nav-left {

        padding: 0;
    }

    .mobile-menu .menu-wrapper {
        margin-top: -.3rem;
        grid-column: 2;
        opacity: 0;
        pointer-events: none;
        transition: opacity ease-in-out 1s;

    }

    .maincontent {
        display: flex;
        flex-flow: column nowrap;
    }

    .maincontent .block:nth-child(n+2) { 
        display: none;
}

    
}