* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
   
}

html {
    font-family: Helvetica, sans-serif
}

body {
    margin: 0;
    background: lightslategray;
}

.container {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    position: relative;
    
}

.content {
    grid-column: 2;
    width: 100%;
    overflow: hidden;
    position: relative;
    
}


.logo-img {
    min-width: 100%;
    position: relative;
    z-index: 10;
    margin: 0 0 -7.5% 0;
}


.maincontent {
    position: relative;
    /* margin-top: -7.6%; */
    /* margin-top: calc(-1rem - 5.5%); */
    display: grid;
    /* grid-gap:1px; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "hero hero side1"
    "hero hero side2"
    "bottom1 bottom2 side2";

}


.block {
    height: 100%;
    display: grid;
    align-items: end; 
}

.layer {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}


.block-description {
    position: relative;
   
    z-index: 5;
}

.block-img {
    position: relative;
    min-height: 100%;
    transition: 0.4s ease;
}

.maincontent img {
    object-fit: cover;
    /* margin: -.2rem; */
    padding: 0;
}

.block-hero {
    /* background: url(https://api.paradiso.nl/img/events/Maren-Morris-web.jpg?w=1368&h=1340&fit=crop-56-28); */
    grid-area: hero;
    
   
}

.block-side1 {
    /* background: url(https://api.paradiso.nl/img/events/fatal.jpg?w=848&h=808&fit=crop-42-58); */
    grid-area: side1;
}


.block-side2 {
    /* background: url(https://api.paradiso.nl/img/events/Betty-Wright.jpg?w=848&h=1456&fit=crop-63-38); */
    grid-area: side2;
}

.block-bottom1 {
    /* background: url(https://api.paradiso.nl/img/events/milk.jpg?w=848&h=808&fit=crop-50-4); */
    grid-area: bottom1;
}

.block-bottom2 {
    /* background: url(https://api.paradiso.nl/img/events/Schermafbeelding-2019-01-17-om-08.41.31.png?w=848&h=808&fit=crop-42-22); */
    grid-area: bottom2;
}




/* TITELS IN ELKE GRID IMG */

.block-link {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    overflow: hidden;
    
}

.block-link:hover .block-img {
    transform: scale(1.05);
}

.block-description {
    pointer-events: none;
    grid-column: 1;
    grid-row: 1;
    color: white;
    margin: 0 0 1rem 1rem;
  
}

.subtitle {
    font-weight: 100;
    font-size: 2rem;
    margin: 0;

}

.subtitle-hero {
    font-weight: 100;
    font-size: 3rem;

}

.block-title {
    font-weight: 800;
    font-size: 2rem;
    margin: 0;
}

.block-title-hero {
    font-weight: 800;
    font-size: 3rem;
}

.block-date {
    display: none;
    font-size: 2rem;
    padding: 0;
    margin: .1rem 0 1rem 0;
}

.block:hover .block-description > .block-date {
    display: block;
}


@media screen and (max-width: 875px) {
    .container {
        margin-top: 10rem;
        display: grid;
        grid-template-columns: 1fr 18fr 1fr;
        
    }

    .maincontent {
        display: flex;
        flex-flow: column nowrap;
    }

    .maincontent .block:nth-child(n+2) { 
        display: none;
     }
}